# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Django DB
*.sqlite3
db.sqlite3

# Django static/media (視情況)
staticfiles/
media/

# VSCode 設定檔
.vscode/

# 系統檔案
.DS_Store
Thumbs.db

# 測試 & coverage
.pytest_cache/
.coverage
htmlcov/

# 環境變數檔（如有）
.env
